body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 0;
    margin: 0;
  }

  .header{
    background-color: #0056b3;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .header > div, ul{margin:0; padding: 10px 20px;}
  .logo{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.2s ease;
  }
  .divvv{
    display: flex;
    font-size: 24px;
    font-weight: bold;
  } .z, .x{margin-left: 5px;}
  .a{
    margin-left: 15px;
    color: #fff;
    text-decoration: none;
    transition: all 0.2s ease;
  
  } .logo:hover, .a:hover{ color: #ccc;}
  
  .container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
p{
    font-weight: 400;
    margin-bottom: 15px;
}
span{
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 3px;
    color: black;
    /* background-color: #0056b3; */
}
